 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     align-items: center;
     text-align: center;
 }

 header {
     padding: 20px;
 }

 main {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
     gap: 20px;
     padding: 20px;
 }


 div {
     border: 1px solid #ccc;
     padding: 20px;

 }

 img {
     max-width: 100%;
     height: auto;
 }

 .zara {
     padding-bottom: 2%;
 }